
body {
  width: 100%;
  font-family: 'Patrick Hand', cursive;
}

#contacts > a > img {
  width: 30px;
  height: 30px;
}

.header {
  background-image: url('http://res.cloudinary.com/wkdal720/image/upload/v1479939568/imageedit_2_9701696410_de7wlm.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #FFF;
  transition: all 0.4s ease;
  font-family: 'Patrick Hand', cursive;
}

.sticky {
  height: 35vh;
}

.header-contents > h1, .header-contents > h2 {
  color: #FFF;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  font-weight: bold;
  text-align: right;
  margin: 0;
  position: relative;
}

.header-contents > h1 {
  font-size: 70px;
  top: 20px;
}

.header-contents > h2 {
  font-size: 40px;
  top: 40px;
}

nav {
  position: fixed;
  bottom: 100px;
  width: 100px;
  background-color: #FFF;
  border-radius: 5px;
  font-size: 20px;
}

nav .container-fluid {
  padding: 0;
}

.header-contents {
  width: 90%;
  margin: 0 auto;
}

.content {
  padding-top: 35vh;
}

.content > h3:before {
  display: block;
  content: " ";
  margin-top: -35vh;
  height: 35vh;
  visibility: hidden;
}
